body{
  background: url(https://static.vecteezy.com/system/resources/thumbnails/002/083/472/original/weather-news-intro-free-video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-box{
  border: 3px solid white;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 50px;
  background-color: azure;
}